---
export interface Props {
  articles: Array<{
    id: number;
    title: string;
    publisher: string;
    thumbnail: string;
    link: string;
}>;
}

const { articles } = Astro.props;
---

<div class="all-buildings">
  {[...articles].reverse().map((article, index) => {
    const isHidden = index >= 8;
    return (
      <>
        <a 
          style={`background-image: url('${article.thumbnail}')`}
          target="_blank" 
          href={article.link} 
          class={`container building-wrapper press-post ${isHidden ? 'press-post-hidden' : ''}`}
        >
          <div class="content building">
            <div class="content-overlay"></div>
            <div class="content-details fadeIn-left">
              <p>{article.publisher}</p>
              <h3>{article.title}</h3>
              <div class="open-link">Open Link</div>
            </div>
          </div>
        </a>
        
        {/* Mobile version */}
        <div class="article-mobile">
          <div class="content">
            <p>{article.publisher}</p>
            <h3>{article.title}</h3>
            <a target="_blank" href={article.link} class="read-more">Read More</a>
          </div>
          <img class="article-mobile-image" src={article.thumbnail} alt={article.title} />
        </div>
      </>
    );
  })}
</div>

<!-- Load more button -->
<button class="show-articles">Load More Articles</button>